.fl{
    border-radius: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.bg-r{
    background-color: crimson;
}
.bg-b{
    background-color: blue;
}
.bg-bl{
    background-color: rgb(59, 59, 85); 
}
.bg-y{
    background-color:yellow;
}
.bg-g{
    background-color:green;
}
.bg-gr{
    background-color:gray;
}

.bg-p{
    background-color: purple;
}
.cdp{
    font-size: 30px;
}

.sg{
    margin-top: 150px;
}